<div class="centered">
  <h1 class="page-title">Patients</h1>
  <ul>
    <% @patients.each do |patient| %>
        <li class="index-item">
          Name: <%= link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.number_of_appointments %>
        </li>
    <% end %>
  </ul>
</div>